/* page */

body{
    margin: 0;
    text-align: center;
    background-color: #e9edc9;
}

p{
    font-size: medium;
}

/* navigation bar */

#nav-bar{
  background-color: #ccd5ae;
  padding: 0px 20px 0px 20px;
  position: sticky;
  top: 0;
}

#nav-content{
  display: flex;         
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

#mount-pic{
  width: 5%;
}

#web-title{
  margin: 0;
  font-size: 2rem;
}

.nav-button{
  padding: 5px 10px;
  background-color: #faedcd;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.75rem;
}

.nav-button:hover{
  background-color: #fefae0;
}


/* filter posts */
#filter-tool{
    width: 40%;
    background-color: #faedcd;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
}

#filter-prompt{
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
}

.filter-category{
    width: 50%;
    margin: 10px;
    padding: 5px;
    background-color: #fefae0;
}

/* viewing posts */

#no-posts{
    width: 40%;
    background-color: #fefae0;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
}

#blog-post{
    width: 80%;
    background-color: #fefae0;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
    text-align: left;
}

#blog-title,#edit-title{
    font-size: 2.5rem;
    margin: 10px 10px;
}

#blog-category{
    font-size: 1.5rem;
    margin: 10px 10px;
}

#blog-author{
    display: inline;
    margin: 10px 10px;
    font-size: 1.5rem;
}

#blog-content{
    margin: 10px 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#post-buttons{
    text-align: center;
}

#edit-form{
    display: inline-block;
    margin-bottom: 10px;
}

#delete-form{
    display: inline-block;
}

/* creating/editing posts */

#new-post-title{
    display: inline;
}

.edit-post{
    width: 80%;
    background-color: #faedcd;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
}

.create-title, .create-author, .create-category, .create-content{
    width: 90%;
    margin: 10px;
    padding: 5px;
    background-color: #fefae0;
}

.submit-btn{
    margin: 10px;
}

/* general button style */

.button {
	background-color:#74ad5a;
	border-radius: 12px;
	border: 2px solid #33800d;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
	font-size: 1rem;
	padding: 5px 39px;
	text-decoration: none;
}

.button:hover {
	background-color: #68a54b;
}

.button:active {
	position: relative;
	top: 1px;
}

/* weather page */

#coordinate-tool{
    width: 40%;
    background-color: #faedcd;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
}

#coordinate-prompt{
    font-size: 1.5rem;
    display: inline;
}

.coordinate-box{
    width: 50%;
    margin: 10px;
    padding: 5px;
    background-color: #fefae0;
}

.weather-cell{
    width: 40%;
    background-color: #fefae0;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

#weather-img{
    border-style: solid;
    border-radius: 25px;
    background-color: #faedcd;
}